*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
:root{
    --bg-color:#ffffff;
    --text-color:#000;
    --second-color:#a09dab;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
.container{
    border: 1px solid;
    height:fit-content
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.navbar div{
    border: 1px solid;
    height: 50px;
    width: 60px;
    margin-left: 30px;
}